/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* HEADER */

header{
	width: 100%;
	background-color: #c1403d;
}

.colornavbarheader{
	background-color: #c1403d;
	border: none;
}



/* HOMEPAGE */

.inlineblock{
	display: inline-block;
	margin-top: 2%;
	margin-left: 2%; 
}

.logonat{
	float: right;
	margin-right: 3%;
}

#home{
	background: url("../img/background.png") no-repeat;
	background-position: 0px 80px;
	width: 100%;
	min-height: 918px;
}

#home .searchbox{
	width: 55%;
	margin: 0 auto;
	padding-top: 3%;
}

#home .boxsearch{
	height: 70px;
	font-size: 2em;
	-webkit-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
}

#home .buttonsearch{
	height: 70px;
	-webkit-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	background-color: #c1403d;
	border: none;
}

#home h1{
	padding-top: 23%;
	color: #ffffff;
	font-family: 'dense-regular';
	text-align: center;
	font-size: 5em;
}



/* ARTICLES */

.titredef {
	font-family: 'coolvetica';
	font-size: 3em;
	color: #c1403d;
	margin-top: 180px;
	margin-bottom: 30px;

}

.titredef small{
	font-family: 'coolvetica';
	font-size: 0.3em;
	color: #434242;
	margin-left: 100px;
	
}

#definition h2 {
	font-family: 'coolvetica';
	font-size: 1.1em;
	color: #c1403d;
	margin-top: 30px;
	margin-bottom: 8px;

}

#definition p {
	font-family: 'coolvetica';
	font-size: 1em;
	color: #434242;
	line-height: 19px;
}

#definition li {
	font-family: 'coolvetica';
	font-size: 1em;
	color: #434242;
	line-height: 19px;
}

.pub{
	margin-top: 180px;
	margin-bottom: 200px;
	
}




/* FOOTER */

footer{
	width: 100%;
	height: 70px;
	background-color: #c1403d;
	bottom :0;
	position: fixed;

}



/* FONTS */

@font-face {
    font-family: 'coolvetica';
    src: url(" ../fonts/coolvetica_rg.ttf");
}

@font-face {
    font-family: 'dense-regular';
    src: url(" ../fonts/dense-regular.otf");
}



/*----------------
	  Responsive
	  -----------------*/
@media screen and (min-width: 240px) and (max-width: 900px) {
/*.pub {
  display: none !important;
  visibility: hidden !important;
	}
*/
}