/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
	width: 100%;
	height: 100%;
}

/* HEADER */

header{
	width: 100%;
	background-color: #c1403d;
}

.colornavbarheader{
	background-color: #c1403d;
	border: none;
}

.inlineblock{
	display: inline-block;
	margin-top: 1.5%;
}

/* HOMEPAGE */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	
	padding: 0;
}

.containmargintop{
	padding-top: 2%;
}

#home form{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.logonat{
	float: right;
	margin-right: 3%;
}

#home{
	background: url("../img/bd.jpg") no-repeat center fixed;
  	background-size: cover;
  	width: 100%;
  	height: 100%;
}

#home #s{
	width: 100%;
	float: left;
}

#home .boxsearch{
	height: 50px;
	font-size: 2em;
	-webkit-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
}

#home .buttonsearch{
	height: 50px;
	-webkit-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	background-color: #c1403d;
	border: none;
}

#home h1{
	padding-top: 15%;
	color: #ffffff;
	font-family: 'dense-regular';
	text-align: center;
	font-size: 5em;
}

#home h2{
	color: red;
	font-size: 3em;
	padding-top: 5%;
}



/* ARTICLES */


.blog-main{
	margin-top: 165px;
}

.big{
	font-family: 'coolvetica';
	font-size: 3em;
	color: #c1403d;

}

.big:hover{
	color: #c1403d;
	text-decoration: none;
}

.revenir {
	font-family: 'coolvetica';
	font-size: 1em;
	color: #434242;
	margin-left: 100px;	
}

.revenir:hover {
	color: #c1403d;
	text-decoration: none;
}


#definition h2 {
	font-family: 'coolvetica';
	font-size: 1.1em;
	color: #c1403d;
	margin-top: 30px;
	margin-bottom: 8px;

}

#definition p {
	font-family: 'coolvetica';
	font-size: 1em;
	color: #434242;
	line-height: 19px;
	text-align: justify;
	margin-top: 30px;
}

#definition li {
	font-family: 'coolvetica';
	font-size: 1em;
	color: #434242;
	line-height: 19px;
}

.pub{
	margin-top: 180px;
	margin-bottom: 200px;
	
}


/* PAGE CATEGORIES */

#fake-head{
	width: 100%;
	height: 100px;
}

#cat h1 {
	width: 160px;
	height: 200px;	
	background-color: #c1403d;
	border: none;
	text-align: center;
	font-family: 'coolvetica';
	font-size: 65px;
	color: white;
	padding-top: 65px;

}

.pub-cat{
	margin-top: 30px;
	width: 160px;
	height: 400px;	
	
}

.list-cat {
	font-family: 'coolvetica';
	font-size: 25px;
}


#titre-cat{
	text-align: center;
	padding-bottom: 50px;
	border-right: solid 4px #e1a4a1;	
}

#titre-cat a{
	
	color: black;
}

#titre-cat::first-letter{
	color: #c1403d;
}

/* FOOTER */

footer{
	width: 100%;
	height: 50px;
	background-color: #c1403d;
	bottom :0;
	position: fixed;
}

.categories li{
	display: inline-block;
	text-decoration: none;
}

ul.categories {
	text-align: center;
	padding-top: 15px;	
}

.categories a{
	color: white;
	font-size: 1.5em;
	padding: 5px;
	font-family: 'coolvetica';
}

/* FONTS */

@font-face {
    font-family: 'coolvetica';
    src: url(" ../fonts/coolvetica_rg.ttf");
}

@font-face {
    font-family: 'dense-regular';
    src: url(" ../fonts/dense-regular.otf");
}

@font-face {
	font-family: 'glyphicons-halflings-regular.eot';
	src: url("../fonts/glyphicons-halflings-regular.eot");
}



/*----------------
	  Responsive
	  -----------------*/
@media screen and (min-width: 240px) and (max-width: 800px) {

.pub {
  display: none !important;
  visibility: hidden !important;
	}

}

/* HEADER */ 

@media screen and (min-width: 240px) and (max-width: 768px) {

	.logonat{
		display: none;
	}

}


/* FOOTER */

@media screen and (max-width: 240px) {

	ul.categories {
	padding-top: 10px;	
	}
	
	.categories a{
		font-size: 0.8em;
		padding: 2px;
	}

}

@media screen and (min-width: 240px) and (max-width: 320px) {

	ul.categories {
	padding-top: 8px;	
	}

	.categories a{
		font-size: 1em;
	}
	
}

@media screen and (min-width: 320px) and (max-width: 480px) {

	ul.categories{
		padding-top: 8px;
	}

	.categories a{
		font-size: 1em;
	}
	
}

@media screen and (min-width: 480px) and (max-width: 768px) {

	.categories a{
		font-size: 1em;
	}

}



/* HOME */

@media screen and (max-width: 240px) {

	#home h1{
		font-size: 2em;
		padding-top: 65%;
	}

	#home .boxsearch{
		height: 30px;
	}

	#home .buttonsearch{
		height: 30px;
	}

}

@media screen and (min-width: 240px) and (max-width: 320px) {

	#home h1{
		font-size: 2.5em;
		padding-top: 55%;
	}

	#home .boxsearch{
		height: 30px;
	}

	#home .buttonsearch{
		height: 30px;
	}

}

@media screen and (min-width: 320px) and (max-width: 480px) {

	#home h1{
		font-size: 2.5em;
		padding-top: 35%;
	}

	#home .boxsearch{
		height: 30px;
	}

	#home .buttonsearch{
		height: 30px;
	}

}


/* PAGE CATEGORIES */

@media screen and (min-width: 240px) and (max-width: 480px) {

#cat h1{
	width: 350px;
	height: 100px;	
	background-color: #c1403d;
	border: none;
	text-align: center;
	font-family: 'coolvetica';
	font-size: 65px;
	color: white;
	padding-top: 15px;
	margin-bottom: 0px;

	}


.lettre{
	margin-bottom: 30px;
}

#titre-cat{


	text-align: left;
	padding-right: 150px;
	
	border-right: none;
	}

#fake-head{
	width: 100%;
	height: 100px;
	}

.pub-cat{
	display: none !important;
  	visibility: hidden !important;

}

/* ARTICLE */

@media screen and (min-width: 240px) and (max-width: 480px) {


.revenir {
	display: none;
}

.big{
	background-color: #c1403d;	
	font-family: 'coolvetica';
	font-size: 65px;
	color: white;	
}


.big:hover{
	color: white;
	text-decoration: none;
}

.blog-main{
	margin-top: 100px;
	text-align: center;
}

.titredef h1{
	margin-top: 0px;
}



}
