/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* HEADER */

header{
	width: 100%;
	background-color: #c1403d;
}

.colornavbarheader{
	background-color: #c1403d;
	border: none;
}

.inlineblock{
	display: inline-block;
	margin-top: 1.5%;
	margin-left: 2%; 
}

/* HOMEPAGE */


.logonat{
	float: right;
	margin-right: 3%;
}

#home{
	background: url("../img/bd.jpg") no-repeat center fixed; 
  	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */
  	width: 100%;
  	height: 880px;
}

#home .searchbox{
	width: 55%;
	margin: 0 auto;
	padding-top: 3%;
}

#home .boxsearch{
	height: 70px;
	font-size: 2em;
	-webkit-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
}

#home .buttonsearch{
	height: 70px;
	-webkit-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	background-color: #c1403d;
	border: none;
}

#home h1{
	padding-top: 15%;
	color: #ffffff;
	font-family: 'dense-regular';
	text-align: center;
	font-size: 5em;
}

#home h2{
	color: red;
	font-size: 3em;
	padding-top: 5%;
}



/* ARTICLES */


.blog-main{
	margin-top: 165px;
}

.big{
	font-family: 'coolvetica';
	font-size: 3em;
	color: #c1403d;

}

.big:hover{
	color: #c1403d;
	text-decoration: none;
}

.revenir {
	font-family: 'coolvetica';
	font-size: 1em;
	color: #434242;
	margin-left: 100px;	
}

.revenir:hover {
	color: #c1403d;
	text-decoration: none;
}


#definition h2 {
	font-family: 'coolvetica';
	font-size: 1.1em;
	color: #c1403d;
	margin-top: 30px;
	margin-bottom: 8px;

}

#definition p {
	font-family: 'coolvetica';
	font-size: 1em;
	color: #434242;
	line-height: 19px;
	text-align: justify;
	margin-top: 30px;
}

#definition li {
	font-family: 'coolvetica';
	font-size: 1em;
	color: #434242;
	line-height: 19px;
}

.pub{
	margin-top: 180px;
	margin-bottom: 200px;
	
}


/* PAGE CATEGORIES */

#fake-head{
	width: 100%;
	height: 100px;
}

#cat h1 {
	width: 160px;
	height: 200px;	
	background-color: #c1403d;
	border: none;
	text-align: center;
	font-family: 'coolvetica';
	font-size: 65px;
	color: white;
	padding-top: 65px;

}

.pub-cat{
	margin-top: 30px;
	width: 160px;
	height: 400px;	
	
}

.list-cat {
	font-family: 'coolvetica';
	font-size: 25px;
}


#titre-cat{
	text-align: center;
	padding-bottom: 50px;
	border-right: solid 4px #e1a4a1;	
}

#titre-cat a{
	
	color: black;
}

#titre-cat::first-letter{
	color: #c1403d;
}

/* FOOTER */

footer{
	width: 100%;
	height: 70px;
	background-color: #c1403d;
	bottom :0;
	position: fixed;
}

footer h2{
	text-align: center;
	color: white;
	padding-top: 1%;
	font-family: 'dense-regular';
	font-size: 2em;
}

.categories li{
	display: inline-block;
	text-decoration: none;
}

ul.categories {
	text-align: center;
	padding-top: 20px;	
}

.categories a{
	color: white;
	font-size: 1.5em;
	padding: 5px;
	font-family: 'coolvetica';
}

/* FONTS */

@font-face {
    font-family: 'coolvetica';
    src: url(" ../fonts/coolvetica_rg.ttf");
}

@font-face {
    font-family: 'dense-regular';
    src: url(" ../fonts/dense-regular.otf");
}



/*----------------
	  Responsive
	  -----------------*/
@media screen and (min-width: 240px) and (max-width: 800px) {

.pub {
  display: none !important;
  visibility: hidden !important;
	}




}


@media screen and (min-width: 240px) and (max-width: 400px) {

#cat h1 {
	width: 120px;
	height: 200px;	
	background-color: #c1403d;
	border: none;
	text-align: center;
	font-family: 'coolvetica';
	font-size: 65px;
	color: white;
	padding-top: 65px;
	
	
	}

#titre-cat{
	text-align: center;
	padding-bottom: 50px;
	border-right: solid 4px #e1a4a1;
	
	}

#fake-head{
	width: 100%;
	height: 125px;
	}

.titredef small{
	font-family: 'coolvetica';
	font-size: 1em;
	color: #434242;
	margin-left: 10px;	
	}
}


